/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */

/* pagina */
html {
  famiglia di caratteri: "Montserrat", sans-serif;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  margin: auto;
  width: 60%;
}
/* /pagina */

/* header */
.intestazione {
  background-color: pink;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}

.content-logo {
  height: 80%;
}

.logo {
  height: 100%;
}
/* /header */

/* main */
section.banner {
  background-color: yellow;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}

section.corpo {
  background-color: blue;
  width: 100%;
  height: 300px;
}

section.corpo .head {
  background-color: lightblue;
  height: 15%;
  margin-bottom: 1%;
}

.row {
  height: 100%;
  width: 100%;
}

div.colonne {
  background-color: lightblue;
  width: 25%;
  height: 80%;
  float: left;
}

div.colonne.central {
  width: 48%;
  margin: 0 1%;
}
/* /main */

footer {
  background-color: purple;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}
