/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */

/* pagina */
body {
  font-family: "Montserrat", sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.container {
  margin: auto;
  width: 60%;
}
/* /pagina */

/* header */
.intestazione {
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}

.content-logo {
  height: 80%;
}

.logo {
  height: 100%;
}

nav {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 20%;
}

nav li {
  font-size: 50%;
  color: #858585;
  list-style-type: none;
  float: left;
  padding: 1%;
}

li a {
  text-decoration: none;
  color: #858585;
}
/* /header */

/* main */
/* banner */
section.banner {
  position: relative;
  margin-top: 20px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 380px;
  margin-bottom: 10px;
}
.banner .overlay {
  border-radius: 10px;
}

.banner-titolo {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  position: absolute;
  left: 5%;
  bottom: 18%;
  color: white;
}
/* /banner */


section.corpo {
  width: 100%;
  height: 300px;
}
/* head corpo */
section.corpo .head {
  background-color: lightblue;
  height: 20%;
  margin-bottom: 1%;
  margin-top: 3%;
  padding: 1% 0;
}

.head div {
  color: #858585;
}
/* /head corpo */

.row {
  height: 100%;
  width: 100%;
}

div.colonne {
  background-color: lightblue;
  width: 25%;
  height: 80%;
  float: left;
}

div.colonne.central {
  width: 48%;
  margin: 0 1%;
}
/* /main */

footer {
  background-color: purple;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}
